---
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
// import FeaturedProjects from '../components/FeaturedProjects.astro';
import Skills from '../components/Skills.astro';
import Certifications from '../components/Certifications.astro';
import Resume from '../components/Resume.astro';
import Blog from '../components/Blog.astro';
import GitHubRepos from '../components/GitHubRepos.astro';
import NetworkTopology from '../components/NetworkTopology.astro';
const title = "Jashandeep Justin Bains - Portfolio";
const description = "The personal portfolio website for Jashandeep Justin Bains, a Network Engineer, Cloud Professional, and Developer.";

const structuredData = {
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Jashandeep Justin Bains",
  "jobTitle": "Network Engineer, Cloud Professional, and Developer",
  "description": description,
  "url": "https://jjbly.uk",
  "sameAs": [
    "https://github.com/JashandeepJustinBains",
    "https://www.linkedin.com/in/jashandeep-bains-b2aab6192}"
  ],
  "knowsAbout": ["Networking", "Routing", "Switching", "Cloud Computing", "Kubernetes", "AWS", "Cisco", "Linux", "Ansible"]
};
---

<BaseLayout title={title} description={description}>
  <script type="application/ld+json" set:html={JSON.stringify(structuredData)} />

  <section class="hero">
    <div class="hero-content">
      <h1>JASHANDEEP JUSTIN BAINS</h1>
      <p>Network Engineer, Cloud Professional, and Developer</p>
    </div>
  </section>

  <section id="about">
    <About />
  </section>


  
  <section id="portfolio">
    <h2>Portfolio</h2>
    <div class="portfolio-grid">
      </div>
  </section>

  <section id="contact">
    <Contact />
  </section>


  <Certifications />
  <!-- <FeaturedProjects /> -->
  <Skills />
  <GitHubRepos />
  <Resume />
  <Blog />

</BaseLayout>

<style>
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    background-image: url('https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    color: white;
  }

  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .hero-content p {
    font-size: 1.2rem;
    font-family: var(--font-body);
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
  }
</style>